body {
  background-color: rgb(18, 18, 112);
  color: rgb(226, 221, 221);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: rgb(169, 218, 236);
}

header,
footer {
  background-color: rgb(3, 67, 13);
  /* add som space inside the header */
  padding: 20px;
}

footer p {
  text-align: center;
}

/* Descedant selector - choose h1:s inside header */
header h1 {
  margin: 0;
}

main {
  background-color: white;
  color: black;
  max-width: 700px;
  padding: 20px;
  /* Make a tag/element centered with auto */
  margin: 20px auto;
}

img {
  width: 100%;
}

main a {
  color: rgb(12, 17, 165);
}

/* sticky footer - make sure to footer is a the bottom of short pages */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

/* . - selector for a class name
   .myClassName only selects a html element
   that as a certian class attribute 
*/
.red-link {
  color: rgb(113, 9, 9);
}

nav {
  margin-top: 20px;
}

nav a {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
}

nav .active {
  color: white;
}